.subHeadingGroup {
  padding: 0.5rem 0 0.5rem 0;
  background-color: rgb(221, 220, 220);
}
.subHeading {
  font-weight: 700;
  margin: 0.5rem;
}
.listTitle {
  padding: 0.5rem;
  border: solid 1px lightgray;
}
.listTitle:hover {
  background-color: #cbe2f9;
  cursor: pointer;
}
