.search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.searchResults {
  text-align: left;
  width: 25rem;
  max-height: 30rem;
  overflow-y: auto;
  border-radius: 5px;
}
.highlight {
  font-weight: 700;
}
.listIcon {
  padding-right: 3px;
  color: gray;
}
