.searchBar {
  margin-top: 4rem;
  width: 23rem;
  height: 2.5rem;
  padding-left: 20px;
}
// .locationIcon {
//   padding: 5px;
//   position: absolute;
//   top: 19%;
//   transform: translateY(-60%);
// }
input {
  color: #333;
  font-size: 18px;
  border-radius: 10px;
}
