.header {
  position: sticky;
  top: 0;
  z-index: 1;
}
.headerText {
  background-color: #cbe2f9;
  height: 5rem;
  margin-top: 0;
  line-height: 6rem;
  color: darkslategrey;
  font-family: fantasy;
}
